.notification {
    background-color: white;
    outline:  thick double skyblue;
    padding: .5rem;
    position: fixed;
    top: 4vh;
    width: 70vw;
}

.notification--error {
    outline-color: red;
}